nav {
  font-family: 'Bungee', cursive;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 7;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  }

  .arrow {
  font-family: cursive, cursive;
  color: white;
  float: right;
  text-align: center;
  }
